
@font-face {
    font-family: "GT-Walsheim";
    src: url("../../fonts/GT-Walsheim/GT-Walsheim-Regular.woff2") format("woff2"),
      url("../../fonts/GT-Walsheim/GT-Walsheim-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "GT-Walsheim";
    src: url("../../fonts/GT-Walsheim/GT-Walsheim-Bold.woff2") format("woff2"),
      url("../../fonts/GT-Walsheim/GT-Walsheim-Bold-Oblique.woff") format("woff");
    font-weight: 700;
    font-style: 400;
  }