  /* nav */
  .mobile-nav {
    display: none;
  }
  .header {
    background-color: #0000ff;
    color: white;
    padding: 10px 0;
  }
  
  /* New container styling */
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .header img.logo {
    width: 160px;
    height: 32px;
  }
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 0;
  }
  .nav-links li {
    position: relative;
    padding: 5px 10px;
  }
  .nav-links li a {
    text-decoration: none;
    color: white;
    display: flex;
    transition: 0.3s ease;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
  }
  .nav-links li a:hover {
    color: #030061;
  }
  .nav-links li:hover .dropdown-content {
    display: block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .login-button {
    background-color: #ffffff;
    border: 1px solid #0000ff;
    color: #0000ff;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  .login-button:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
  
  .login-button span {
    padding-right: 10px;
  }
  @media screen and (max-width: 950px) {
    .nav-links {
      display: none;
    }
    .login-button {
      display: none;
    }
    .mobile-nav {
      display: block;
      display: flex;
    }
    .mobile-nav .menu {
      padding-right: 16px;
      cursor: pointer;
    }
    .mobile-nav .user {
      cursor: pointer;
    }
  }