.form-redonaves {
    --input-bg:#f5f5f5;
  .form-group {
    margin-block: 40px;
  }
  .form-label {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .form-select {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    min-height: 56px;
    background-color: var(--input-bg);
    border: none;
  }
  .btn-submit {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    &:hover {
      transform: scale(1.01);
    }
  }
}
