.delivery{
    .delivery-services{
        &__title{
            font-size: 32px;
            line-height: 38px;
            font-weight: 500;
            margin-top: 56px;
            margin-bottom: 48px;
            text-align: center;
        }
    }
    .delivery-info{
        .warning{
            font-size: 18px;
            line-height: 21px;
            font-weight: 700;
            color: #FFB500;
        }
        .delivery-text{
            font-size: 14px;
            line-height: 18px;
            font-weight: 300;
            margin-bottom: 0;
        }
    }
}