.delivery{
    &__inner{
        padding-block: 80px;
    }
    .link-back-to-home{
        display: inline-flex;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        text-transform: uppercase;
        margin-bottom: 24px;
        color: #00002E;
        &__icon{
            margin-right: 8px;
        }
    }
    .delivery-form{
        padding: 32px;
        border-radius: 24px;
        border: 1px solid  #E5E5E5;
        background:  #FAFAFA;
        &__title{
            max-width: 50%;
            font-size: 18px;
            font-weight: 500;
        }
    }
    .delivery-services{
        &__title{
            font-size: 32px;
            line-height: 38px;
            font-weight: 500;
            margin-top: 56px;
            margin-bottom: 48px;
            text-align: center;
        }
    }
    .delivery-info{
        .warning{
            font-size: 18px;
            line-height: 21px;
            font-weight: 700;
            color: #FFB500;
        }
        .delivery-text{
            font-size: 14px;
            line-height: 18px;
            font-weight: 300;
            margin-bottom: 0;
        }
    }
}